<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>709902842439-dngbdumd2s062u3f8u2focbg8cpjgfrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.709902842439-dngbdumd2s062u3f8u2focbg8cpjgfrp</string>
	<key>API_KEY</key>
	<string>AIzaSyCBQDqqsdTfaPOS_hRbeIjEsUOdAsObt9A</string>
	<key>GCM_SENDER_ID</key>
	<string>709902842439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loty.lotypartnerapp</string>
	<key>PROJECT_ID</key>
	<string>loty-7e8e8</string>
	<key>STORAGE_BUCKET</key>
	<string>loty-7e8e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:709902842439:ios:66f720c2f1d06aacda4f62</string>
</dict>
</plist>